<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/registro.css">
    <title>Registrate</title>
</head>
<body>
    <main>
        <div class="contenedor__todo">
            <div class="caja__trasera">
                <div class="caja__trasera-login">
                    <h3>¿Ya tenes una cuenta?</h3>
                    <p>Inicia sesion para entrar en la pagina</p>
                    <button id="btn__iniciar-sesion">iniciar Sesion</button>
                </div>
                <div class="caja__trasera-register">
                    <h3>¿Aun no tienes una cuenta?</h3>
                    <p>Registrate para que puedas iniciar sesion</p>
                    <button id="btn__registrarse">Registrarse</button>
                </div>
            </div>
            <!--formulario de login y registro -->
            <div class="contenedor__login-register">
                <!--Login-->
                <form action="/auth/signin" method="POST" class="formulario__login">
                    <h2>Iniciar Sesion</h2>
                    <input type="email" id="email_inicio" name="email" placeholder="Correo Electronico">
                    <input type="password" id="password_inicio" name="password" placeholder="Contraseña">
                    <button>Entrar</button>
                    <button><a href="/inicio">Volver al inicio</a></button>
                </form>
                <!--Registro-->
                <form action="/auth/signup" method="POST" class="formulario__register">
                    <h2>Registrarse</h2>
                    <input type="text" id="name" name="name" placeholder="Nombre Completo" value="{{name}}">
                    <input type="email" id="email" name="email" placeholder="Correo Electronico" value="{{email}}">
                    <input type="password" id="password" name="password" placeholder="Contraseña">
                    <input type="password" id="confirm_password" name="confirm_password" placeholder="Confirmar contraseña">
                    <button>Registrarse</button>
                </form>
            </div>
        </div>
    </main>
    <script src="/js/register.js"></script>
</body>
</html>