{{#if bien}}

    <div class="alert alert-succes alert-dismissible fade show" role="alert">
            {{bien}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    
{{/if}}