<header class="header">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark bg-gradient">

        <!-- LOGO: IMG + "ConurbanApp" -->
        <div class="logo">
            <a class="navbar-brand" href="/inicio"><img src="/img/logo3.0.png" alt="">ConurbanApp</a>
        </div>

            <!-- BUSCADOR -->
        <form class="buscadorNav d-flex">
            <input class="inputBuscador" type="search" placeholder="¿Qué buscamos?" aria-label="Search">
            <button class="iconoBuscar btn" type="submit"><ion-icon name="search-outline" class="iconoBuscar"></ion-icon></button>
        </form>

        <!-- BOTON COLLAPSE  -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="parteDerechaNavbar">
            <div class="collapse navbar-collapse collapse-horizontal" id="navbarSupportedContent">
                <!-- ITEMS DEL NAV -->
                <ul class="menuDesplegable navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="http://www.atlasconurbano.info/pagina.php?id=169#">Barrios</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="http://umap.openstreetmap.fr/es/map/conurbano_800007#9/-34.7427/-58.3868">Mapa</a>
                    </li>
                    {{#if user}}
                    <div class="dropdown">
                        <button class="btn btn-primary dropdown-toggle ms-4" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fa-solid fa-user"></i>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-dark">
                            <li><a class="dropdown-item" href="/Mi-Perfil">Ver mi perfil</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="btn btn-danger w-100" href="/auth/logout"><i class="fa-solid fa-right-from-bracket"></i>Salir</a></li>
                        </ul>
                    </div>
                    {{else}}
                    
                    <!-- Log In -->
                    <li class="contenedorLogin nav-item">
                        <a class="login nav-item" aria-current="page" href="/auth/signin">Iniciar sesión</a>
                    </li>
                        <li class="contenedorLogin nav-item">
                        <a class="login nav-item" aria-current="page" href="/auth/signin">Registrarse</a>
                    </li>
                    {{/if}}
                </ul>
            </div>
        </div>

    </nav>
</header>