@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;600&family=Satisfy&display=swap');
* {
    margin: 0;
    padding: 0;
}

h1 {
    margin-top: 50px;
    font-family: 'Josefin Sans', sans-serif;
    
}

body {
    background-image: linear-gradient(rgba(26, 44, 201, 0.644), rgba(194, 0, 253, 0.342));
    background-repeat: no-repeat;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 80px;
}


/* TEXTO "Qué es y por qué nace ConurbanApp?" */
.queEsConurbanApp {
    margin-top: 90px;
    padding: 20px;
    width: 90%;
    height: auto;
    border: 1px solid rgb(124, 123, 123);
    border-radius: 20px;
    text-align: justify;
}

.contenedorQueEsConurbanApp{
    align-items: center;
}

.imgNosotros {
    height: 20vw;
    display: flex;
    justify-content: center;
}

/* MISIÓN, VISIÓN Y VALORES */
/* Opción1 */
.misionVisionValores {
    margin: 90px 0;
    width: 90%;
    height: 50vh;
    padding: 0 10%;
    border: 1px solid black;
    border-radius: 20px;
    background-image: url(../img/bgimage.jpg);
    background-size: strech;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    text-align: center;
}

.misionVisionValores .carousel-item h5 {
    font-size: 2em;
}

.textoCarousel {
font-size: 1.5em;
}

.rounded-img{
  border: 2px solid black;
  border-radius: 100%;
  width: 20em;
  height: 20em;
  margin: 2em;
  max-width: 100%;
}

/* Opción2 */
.cardsMVV {
    display: grid;
    grid-template-columns: auto auto;
    width: 70%;
    gap: 50px;
    margin: 90px 0;
    text-align: center;
}

.cardMision, .cardValor, .cardVision {
    background-image: url(./bgimage.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 40vh;
}

.cardMision .card-body,
 .cardValor .card-body, 
 .cardVision .card-body{
    display: flex;
    flex-direction: column;
    justify-content: center;

}

/* SECCIÓN "Conocenos!" */
.conocenos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.conocenos h4 {
    font-size: 3em;
    padding-bottom: 30px;
}

.Emilia, .Tomas, .Saul, .Claudia {
    width: 15em;
    background-color: transparent;
    color: aliceblue;
    border: none;
    text-align: justify;
    margin: 20px 90px;
}
.Emilia h5, .Tomas h5, .Saul h5, .Claudia h5 {
    text-align: center;
}

.card i {
    font-size: 40px;
}

footer{
    margin-top: 100px;
}

/* ----------------------- MEDIA --------------------*/

@media (max-width: 1439px){
    main{
        padding: 0;
    }

    /* CARDS MVV */
    .cardsMVV{
        display: flex;
        flex-direction: column;
        width: 50vw;
    }
    .cardMision, .cardVision, .cardValor{
        height: auto;
        align-items: center;
        padding: 10px;
    }

    /* CARDS NOSOTROS */
    .conocenos{
        width: 90%;
    }

    .cardsNosotros {
        gap: 50px;
        display: grid;
        grid-template-columns: 33% 33% 33%;
        justify-content: center;
    }

    .Emilia, .Tomas, .Lucas, .Saul, .Claudia {
        margin: 0;
        padding: 0;
    }
}

@media (max-width: 768px){
    .contenedorQueEsConurbanApp{
        justify-content: center;
    }

    .cardsNosotros {
        gap: 80px;
        display: grid;
        gap: 50px;
        grid-template-columns: 50% 50%;
    }
    .Emilia, .Tomas, .Lucas, .Saul, .Claudia {
        font-size: 0.85em;
    }
}