/* Estilos generales */
:root {
    --color-blanco-alpha: rgba(255, 255, 255, 0.74);
    --color-background-img: white
}

* {
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
}

body {
    margin: 0;
    padding: 0;
    background-image: url(../img/pexels-photo-1287142.webp);
    background-size:cover;
}

/* Navbar */
.buscadorNav {
    display: none !important;
}

/* main */
main {
    overflow-x: hidden;
    width: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
}

/* Barra de busqueda. Hice "Id" porque vamos a usar estas clases solo en la barra principal*/
.FondoBarraDeBusqueda{
    background-image: url(../img/pruebaFondoBuscador.jpeg);
    background-image: url(../img/Proyecto_2.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    color: rgb(250, 250, 250);

    width: 100vw;
    height: 97vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.FondoBarraDeBusqueda h1{
    font-size: 3vw;
    backdrop-filter: blur(10px);
}

#barra-de-busqueda {
    display: flex;
    margin: 5em 0 2em 0;
}

#busqueda {
    width: 70vw;
    height: 4em;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    text-align: center;
    letter-spacing: 0.3em;
    border: 2px solid black;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

#btn-buscar {
    width: auto;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    background-color: white;
}

#size-btn {
    font-size: 2.5em;
}

/*--------------------- Cuadriculas de Zonas -------------------------*/
#zonas {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    flex-direction: column;
    /* background-color: rgba(0, 0, 0, 0.205); */
    padding: 4em 0  15em 0 ;
    border-top: rgba(5, 48, 91, 0.5) double 12px;

}

.contenedor-zonas {
    display: grid;
    width: 60vw;
    grid-gap: 2em;
    grid-template-columns: repeat(2, 1fr);
}

.contenedor-zonas a {
    text-decoration: none;
}

#zonas h3{
    font-size: 2vw;
    padding-top: 20px;
    /* font-family:Verdana, Geneva, Tahoma, sans-serif; */
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: antiquewhite;
}

.zona-particular {
    background-color: var(--color-background-img);
    transition: all 300ms;
    border-radius: 20px;
}

.zona-particular:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.zona-particular > a {
    color: #111;
    font-size: 20px;
}

.zona-particular > a:active {
    color: #111;
}

.zona-particular > h1 {
    color: rgb(0, 0, 0);
    font-size: clamp(1.3em, 2.5vw, 3em);
}

.zona-particular img {
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px
}

/*------------------------------------------- Contacto -------------------------------  */

.contenedor-contacto {
    font-family: 'Quicksand', sans-serif;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 40px;
    padding: 1.5em;
}

.titulo-contacto {
    text-align: center;
    font-size: 2em;
    color: white;
}

.contac {
    display: grid;
    grid-template-columns: 2fr 1fr;
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.8);
    background-color: #000000;
    color: white;
}

.contac > * {
    padding: 1em;
}

.contac .form-contenedor form {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
}

.contac .form-contenedor form .bloque {
    grid-column: 1 / 3;
}

.contac .form-contenedor form p{
    margin: 0;
    padding: 1em;
}

.contac .form-contenedor input,
.contac .form-contenedor textarea,
.contac .form-contenedor button {
    width: 100%;
    padding: 0.7em;

    border: none;
    outline: 0;

    background: none;
    border-bottom: 1px solid rgb(255, 255, 255);
    color: white;
}

.contac .form-contenedor form button {
    padding: 1em;
    border: 0;
    text-transform: uppercase;
    color: black;
    background-color: whitesmoke;
}

.contac .form-contenedor form button:hover,
.contac .form-contenedor form button:focus {
    color: white;
    background-color: rgba(255, 17, 0, 0.568);

    transition: background-color 1s ease-out;
    cursor: pointer;
}

.contac .contenedor-info {
    background-color: rgb(255, 255, 255);
    color: black;
}

.contac .contenedor-info h3, 
.contac .contenedor-info ul,
.contac .contenedor-info p {
    text-align: center;
    margin: 0 0 1rem 0;
}

.contac .contenedor-info ul {
    list-style: none;
    padding: 0;
}

.contac .contenedor-info ul li {
    padding: .3em;
}

.redes div {
    margin: 15px;
}

ion-icon {
    width: 30px;
    height: 50px;
    color: rgb(26, 26, 29);
}

.foot_inf {
    display: flex;
    justify-content: space-around;
}

.logo-foot {
    border-radius: 50% ;
    width: 70px;
    height: 60px;
    overflow: hidden;
}

@media screen and (max-width: 806px){

    .logo {
        width: auto;
        height: 120px;
    }
    
    .logo:hover {
        transform: none;
    }
    
    .navigation-nav {
        flex-direction: column;
    }

    .contac > * {
        padding: 2em;
    }

    .contac {
        display: grid;
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 690px) {

    .primary-header {
        flex-direction: row;
        gap: 0;
    }
    
    .ul-nav {
        position: fixed;
        z-index: 100;
        inset: 0 0 0 40%; /* top right bottom left*/
        background-color: #000000b9;
        margin: 0;
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        text-align: center;
        transform: translateX(100%);
        transition: transform 300ms ease-out;
    }
    
    .ul-nav[data-visible="true"] {
        transform: translateX(0);
        transition: transform 350ms ease-in;
    }
    
    a:link {
        font-size: clamp(1.1em, 4vw, 1.6em);
    }
    
    .mobile-nav-toggle {
        display: block;
        position: absolute;
        right: 2em;
        top: 3em;
        z-index: 101;
        width: 2.4em;
        height: 2.4em;
        border: none;
        background-color: transparent;
        background-image: url('../img/menu_mobile.svg');
        background-repeat: no-repeat;
        background-size: cover;
        
    }
    
    .mobile-nav-toggle[aria-expanded="true"] {
        background-image: url('../img/menu_close.svg');
    }
    
    .logo {
        width: auto;
        height: 150px;
    }
    
    .logo:hover {
        transform: none;
    }
    
    .contenedor-zonas {
        grid-template-columns: 1fr;
    }
}

/*-----------------REGISTRO --------------------------*/
svg {
    padding: 6px;
}

.abs-center {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.fondo-transparente {
    background-image: url(../img/fondo-blanco.png);
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    justify-content: center;
}

