<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/card.css">
    <title>Zona Norte</title>
</head>
<body>

  {{> header}}

    <main>
        <h2 class="text-center my-4 text-white ">Vamos a</h2>
        <h2 class="text-center text-white ">Zona Norte</h2>
        <section class="zonas-container container-md flex-row flex-sm-wrap justify-content-sm-center">
            <article class="card-container">
                <div class="card">
                    <img class="card-img-top" src="img/558_979.jpg" alt="Card parque de la costa">
                    <div class="card-body">
                        <h5 class="card-title">Parque de La Costa</h5>
                        {{#if user}}
                        {{> estrellas}}
                        {{/if}}
                        <p class="card-text">El Parque de la Costa es un parque de atracciones ubicado en la ciudad de Tigre, Provincia de Buenos Aires, Argentina. Es uno de los más importantes del país. Está ubicado sobre un predio de catorce hectáreas que se encuentra entre los ríos Luján y Tigre.</p>
                        <button type="button" class="btn btn-outline-primary estilo-boton" role="button"><a href="https://www.parquedelacosta.com.ar/">Ir al sitio</a></button>
                    </div>
                </div>
            </article>
        </section>
  </main>

  {{> footer}}
</body>
</html>